.flex
    display flex
.flex-start
    justify-content flex-start
.flex-between
    justify-content space-between
.wrap
    flex-wrap wrap
.flex-centent
    justify-content center
.bgcolor
    background-color #fff
.font-min
    font-size 12px
.font-sm
    font-size 14px
.font-mid
    font-size 16px
.font-big
    font-size 18px

.table-card
    margin-top 20px

.pages
    display flex
    flex-wrap wrap
    justify-content center
    margin-top 20px
.class-list
    padding-left 15px
    max-width 300px
    min-width 220px
    background-color #909399
    color #eee
    border-radius 4px
    box-sizing border-box
.icon1
    .iconfont
        color #409EFF
.icon0
    .iconfont
        color #F56C6C
.edit-icon
    cursor pointer
    padding 0 5px
    .iconfont
        font-size 18px
.el-table
    .warning-row
        background oldlace

.el-table
    .success-row
        background #f0f9eb
